<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Pizza - Pizzeria Drémil-lafage</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="keywords"
      content="pizza, pizzeria, dremil, dremil-lafage, restaurant, emporter"
    />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- //Custom Theme files -->
    <link
      href="css/bootstrap.css"
      type="text/css"
      rel="stylesheet"
      media="all"
    />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all" />
    <!--js-->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="js/vue.js"></script>
    <!-- //js -->
  </head>
  <body>
    <!--banner-->
    <header class="banner">
      <div class="banner-info">
      </div>
    </header>
    <!--//banner-->
    <!--banner-bottom-->
    <div class="banner-bottom">
      <div class="container">
        <div class="banner-text">
          <h3>Pizz'A Dremil</h3>
          <div>09.84.33.30.97</div>
          <!-- <a href="#" class="btn btn-1 btn-1b">More</a> -->
          <div>
            mardi au samedi<br>
            11h45 à 13h45,18h15 à 21h
          </div>
        </div>
        <!--welcome-->
        <div class="welcome">
          <h3 class="title">Bienvenue</h3>
          <p>Du mardi au samedi, de 11h45 à 13h45 et de 18h15 à 21h.</p>
          <p>
            Préparées avec des produits frais. Pâte artisanale faite MAISON,
            préparées et cuite à la demande. Un choix de produits de qualités.
          </p>
          <p>
            Soucieux de vous satisfaire, nous sommes à votre écoute pour vos
            remarques ou suggestions. Les commandes de pizzas à emporter se
            feront à partir de 11h30 pour midi et à partir de 18h00 pour 18h30
            maximum 20h45.
          </p>
          <div class="welcome-info">
              <div class="welcome-img">
                <img
                  src="images/img1.jpg"
                  class="img-responsive zoom-img"
                  alt=""
                />
              </div>
              <div class="welcome-img">
                <img
                  src="images/img2.jpg"
                  class="img-responsive zoom-img"
                  alt=""
                />
              </div>
          </div>
        </div>
        <!--//welcome-->
      </div>
    </div>
    <!--//banner-bottom-->
    <!--menu-->
    <div class="menu" id="app">
      <div class="container">
        <div class="menu-tag">
          <h3 class="title">Les pizzas</h3>
        </div>
        <ul id="myList">
          <li>
            <div class="col-md-6 menu-grids">
              <pizza-item
                v-for="item in pizzaList"
                v-bind:pizza="item"
                v-bind:key="item.id"
                ></pizza-item>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
    </div>
    <!--//menu-->
    <!-- testimonial -->
    <div class="testimonial">
      <!-- container -->
      <div class="container">
        <h3 class="title">A propos</h3>
        <!-- banner-text Slider starts Here -->
        <script src="js/responsiveslides.min.js"></script>
        <script>
          // You can also use "$(window).load(function() {"
          $(function() {
            // Slideshow 4
            $("#slider3").responsiveSlides({
              auto: true,
              pager: true,
              nav: false,
              speed: 500,
              namespace: "callbacks",
              before: function() {
                $(".events").append("<li>before event fired.</li>");
              },
              after: function() {
                $(".events").append("<li>after event fired.</li>");
              }
            });
          });
        </script>
        <!--//End-slider-script -->
        <div id="top" class="callbacks_container">
          <ul class="rslides" id="slider3">
            <li>
              <div class="testimonial-grids">
                <div class="testimonial-left">
                  <img src="images/t1.jpg" alt="" />
                </div>
                <div class="testimonial-right">
                  <h5>Mary Wilson</h5>
                  <p>
                    <span>"</span> Lorem ipsum dolor sit amet consec tetuer adi
                    piscing elit Praesent vestibulum molestie lacus consec
                    tetuer adi piscing elit Praesent vestibulum molestie lacus
                    <span>"</span>
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </li>
            <li>
              <div class="testimonial-grids">
                <div class="testimonial-left">
                  <img src="images/t3.jpg" alt="" />
                </div>
                <div class="testimonial-right">
                  <h5>Lora Alance</h5>
                  <p>
                    <span>"</span> Lorem ipsum dolor sit amet consec tetuer adi
                    piscing elit Praesent vestibulum molestie lacus consec
                    tetuer adi piscing elit Praesent vestibulum molestie lacus
                    <span>"</span>
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </li>
            <li>
              <div class="testimonial-grids">
                <div class="testimonial-left">
                  <img src="images/t2.jpg" alt="" />
                </div>
                <div class="testimonial-right">
                  <h5>David Smith</h5>
                  <p>
                    <span>"</span> Lorem ipsum dolor sit amet consec tetuer adi
                    piscing elit Praesent vestibulum molestie lacus consec
                    tetuer adi piscing elit Praesent vestibulum molestie lacus
                    <span>"</span>
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- //container -->
    </div>
    <!-- //testimonial -->
    <!--footer-->
    <div class="footer">
        <div class="footer-left">
          <h4>Addresse</h4>
          <ul>
            <li>Pizz'à Drémil</li>
            <li>8 Allée de l'Eglise</li>
            <li>31280 Drémil-Lafage</li>
            <li>09.84.33.30.97</li>
            <li><a href="www.pizzeria-dremil.fr">www.pizzeria-dremil.fr</a></li>
          </ul>
        </div>
        <div class="footer-left">
          <h4>Popular</h4>
          <ul>
            <li><a href="#">Proin placerat</a></li>
            <li><a href="#">Ipsum et rutrum</a></li>
            <li><a href="#">Proin semper utr</a></li>
            <li><a href="#">ligula sit amet</a></li>
          </ul>
        </div>
        <div class="footer-left">
          <h4>Details</h4>
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="footer-left">
          <p>
            © 2016 Pizza . All rights reserved | Design by
            <a href="http://w3layouts.com/">W3layouts</a>
          </p>
          <div class="icons">
            <ul>
              <li><a href="#" class="twitter"> </a></li>
              <li><a href="#" class="twitter facebook"> </a></li>
              <li><a href="#" class="twitter chrome"> </a></li>
              <li><a href="#" class="twitter pinterest"> </a></li>
              <li><a href="#" class="twitter linkedin"> </a></li>
            </ul>
          </div>
        </div>
    </div>
    <!--//footer-->
    <script src="js/index.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
